In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import pandas as pd
import re

In [2]:
options = webdriver.ChromeOptions()
options.add_argument("--headless")
options.add_argument("start-maximized")
options.add_argument("--disable-infobars")
driver = webdriver.Chrome(executable_path=r'/usr/bin/chromedriver',options=options) 
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
URL='https://www.flexicar.es/coches-segunda-mano/#precio_to/10000/'
driver.get(URL)

In [3]:
precio= autos = driver.find_elements_by_xpath('//*[@id="listadocoches"]')
precio

In [4]:
cochesBuenos= [e.text for e in precio]
cochesBuenos

['10.090€\n9.390€\nPrevious\nNext\nRenault Megane Coupé Bose EDC Tce 130\n2015 66.250 kmGasolina Vaciamadrid\ndesde 128€/mes   \n11.490€\n9.990€\nPrevious\nNext\nSmart Forfour 0.9 66kW (90CV) S/S PROXY\n2016 26.000 kmGasolina Alicante\nAutomático  desde 136€/mes\n7.990€\n6.990€\nPrevious\nNext\nFord Fiesta 1.5 TDCi 75cv Trend 3p\n2014 37.500 kmDiesel Alicante\ndesde 101€/mes   \n6.790€\n5.990€\nPrevious\nNext\nKia Rio 1.2 CVVT 85cv Concept\n2013 79.990 kmGasolina Alicante\ndesde 93€/mes   \n10.990€\n9.990€\nPrevious\nNext\nSEAT Ibiza 1.0 MPI 59kW (80CV) Reference Plus\n2019 28.680 kmGasolina Vaciamadrid\ndesde 136€/mes   \n5.790€\n4.990€\nPrevious\nNext\nPeugeot 207 ACTIVE 1.4i 75\n2012 88.380 kmGasolina Vaciamadrid\ndesde 84€/mes   \n9.790€\n8.790€\nPrevious\nNext\nFord Ka+ 1.2 Ti-VCT 63kW White Edition\n2018 32.320 kmGasolina Vaciamadrid\ndesde 120€/mes   \n9.390€\n8.390€\nPrevious\nNext\nFord Ka+ 1.2 Ti-VCT 51kW Ultimate\n2018 19.000 kmGasolina Vaciamadrid\ndesde 114€/mes   \n4.500€\n3.490€\nPrevious\nNext\nSEAT Leon 1.9 TDi 110CV SPORT\n2003 175.000 kmDiesel Móstoles\n   ']

In [5]:
for e in cochesBuenos:
    ok=e.split("\n")
ok

['10.090€',
 '9.390€',
 'Previous',
 'Next',
 'Renault Megane Coupé Bose EDC Tce 130',
 '2015 66.250 kmGasolina Vaciamadrid',
 'desde 128€/mes   ',
 '11.490€',
 '9.990€',
 'Previous',
 'Next',
 'Smart Forfour 0.9 66kW (90CV) S/S PROXY',
 '2016 26.000 kmGasolina Alicante',
 'Automático  desde 136€/mes',
 '7.990€',
 '6.990€',
 'Previous',
 'Next',
 'Ford Fiesta 1.5 TDCi 75cv Trend 3p',
 '2014 37.500 kmDiesel Alicante',
 'desde 101€/mes   ',
 '6.790€',
 '5.990€',
 'Previous',
 'Next',
 'Kia Rio 1.2 CVVT 85cv Concept',
 '2013 79.990 kmGasolina Alicante',
 'desde 93€/mes   ',
 '10.990€',
 '9.990€',
 'Previous',
 'Next',
 'SEAT Ibiza 1.0 MPI 59kW (80CV) Reference Plus',
 '2019 28.680 kmGasolina Vaciamadrid',
 'desde 136€/mes   ',
 '5.790€',
 '4.990€',
 'Previous',
 'Next',
 'Peugeot 207 ACTIVE 1.4i 75',
 '2012 88.380 kmGasolina Vaciamadrid',
 'desde 84€/mes   ',
 '9.790€',
 '8.790€',
 'Previous',
 'Next',
 'Ford Ka+ 1.2 Ti-VCT 63kW White Edition',
 '2018 32.320 kmGasolina Vaciamadrid',
 'desde 120€/mes   ',
 '9.390€',
 '8.390€',
 'Previous',
 'Next',
 'Ford Ka+ 1.2 Ti-VCT 51kW Ultimate',
 '2018 19.000 kmGasolina Vaciamadrid',
 'desde 114€/mes   ',
 '4.500€',
 '3.490€',
 'Previous',
 'Next',
 'SEAT Leon 1.9 TDi 110CV SPORT',
 '2003 175.000 kmDiesel Móstoles',
 '   ']

In [6]:
droplist=['Previous',
 'Next']

cleanList=[e for e in ok if e not in droplist]

In [7]:
cleanList

['10.090€',
 '9.390€',
 'Renault Megane Coupé Bose EDC Tce 130',
 '2015 66.250 kmGasolina Vaciamadrid',
 'desde 128€/mes   ',
 '11.490€',
 '9.990€',
 'Smart Forfour 0.9 66kW (90CV) S/S PROXY',
 '2016 26.000 kmGasolina Alicante',
 'Automático  desde 136€/mes',
 '7.990€',
 '6.990€',
 'Ford Fiesta 1.5 TDCi 75cv Trend 3p',
 '2014 37.500 kmDiesel Alicante',
 'desde 101€/mes   ',
 '6.790€',
 '5.990€',
 'Kia Rio 1.2 CVVT 85cv Concept',
 '2013 79.990 kmGasolina Alicante',
 'desde 93€/mes   ',
 '10.990€',
 '9.990€',
 'SEAT Ibiza 1.0 MPI 59kW (80CV) Reference Plus',
 '2019 28.680 kmGasolina Vaciamadrid',
 'desde 136€/mes   ',
 '5.790€',
 '4.990€',
 'Peugeot 207 ACTIVE 1.4i 75',
 '2012 88.380 kmGasolina Vaciamadrid',
 'desde 84€/mes   ',
 '9.790€',
 '8.790€',
 'Ford Ka+ 1.2 Ti-VCT 63kW White Edition',
 '2018 32.320 kmGasolina Vaciamadrid',
 'desde 120€/mes   ',
 '9.390€',
 '8.390€',
 'Ford Ka+ 1.2 Ti-VCT 51kW Ultimate',
 '2018 19.000 kmGasolina Vaciamadrid',
 'desde 114€/mes   ',
 '4.500€',
 '3.490€',
 'SEAT Leon 1.9 TDi 110CV SPORT',
 '2003 175.000 kmDiesel Móstoles',
 '   ']

In [8]:
priceWithoutDiscount=cleanList[0::5]
priceWithDiscount=cleanList[1::5]
model=cleanList[2::5]
cleanColumn=cleanList[3::5]

model

['Renault Megane Coupé Bose EDC Tce 130',
 'Smart Forfour 0.9 66kW (90CV) S/S PROXY',
 'Ford Fiesta 1.5 TDCi 75cv Trend 3p',
 'Kia Rio 1.2 CVVT 85cv Concept',
 'SEAT Ibiza 1.0 MPI 59kW (80CV) Reference Plus',
 'Peugeot 207 ACTIVE 1.4i 75',
 'Ford Ka+ 1.2 Ti-VCT 63kW White Edition',
 'Ford Ka+ 1.2 Ti-VCT 51kW Ultimate',
 'SEAT Leon 1.9 TDi 110CV SPORT']

In [9]:
KMsucio=[re.findall(r"\d{4}",e) for e in cleanColumn]
KMsucio
KM = [item for sublist in KMsucio for item in sublist]
KM

['2015', '2016', '2014', '2013', '2019', '2012', '2018', '2018', '2003']

In [10]:
#Limpiando columna combustible
combustiblesucio=[re.findall(r"([$D-G](\w+))",e) for e in cleanColumn]
combustiblesucio=[list(item) for sublist in combustiblesucio for item in sublist]

In [11]:
combustible=[item for sublist in combustiblesucio for item in sublist]
gas=[]

for e in combustible:
    if e == 'Gasolina':
        gas.append(e)
    elif e == "Diesel":
        gas.append(e)
gas

['Gasolina',
 'Gasolina',
 'Diesel',
 'Gasolina',
 'Gasolina',
 'Gasolina',
 'Gasolina',
 'Gasolina',
 'Diesel']

In [12]:
cleanColumn

['2015 66.250 kmGasolina Vaciamadrid',
 '2016 26.000 kmGasolina Alicante',
 '2014 37.500 kmDiesel Alicante',
 '2013 79.990 kmGasolina Alicante',
 '2019 28.680 kmGasolina Vaciamadrid',
 '2012 88.380 kmGasolina Vaciamadrid',
 '2018 32.320 kmGasolina Vaciamadrid',
 '2018 19.000 kmGasolina Vaciamadrid',
 '2003 175.000 kmDiesel Móstoles']

In [13]:
df = pd.DataFrame({'priceWithoutDiscount' : priceWithoutDiscount,
                   'priceWithDiscount': priceWithDiscount,
                     'Model' : model,
                     'Combustible': gas,
                     'Año': KM,
                     'cleanToSplit': cleanColumn
                  })
df

,priceWithoutDiscount,priceWithDiscount,Model,Combustible,Año,cleanToSplit
0,10.090€,9.390€,Renault Megane Coupé Bose EDC Tce 130,Gasolina,2015,2015 66.250 kmGasolina Vaciamadrid
1,11.490€,9.990€,Smart Forfour 0.9 66kW (90CV) S/S PROXY,Gasolina,2016,2016 26.000 kmGasolina Alicante
2,7.990€,6.990€,Ford Fiesta 1.5 TDCi 75cv Trend 3p,Diesel,2014,2014 37.500 kmDiesel Alicante
3,6.790€,5.990€,Kia Rio 1.2 CVVT 85cv Concept,Gasolina,2013,2013 79.990 kmGasolina Alicante
4,10.990€,9.990€,SEAT Ibiza 1.0 MPI 59kW (80CV) Reference Plus,Gasolina,2019,2019 28.680 kmGasolina Vaciamadrid
5,5.790€,4.990€,Peugeot 207 ACTIVE 1.4i 75,Gasolina,2012,2012 88.380 kmGasolina Vaciamadrid
6,9.790€,8.790€,Ford Ka+ 1.2 Ti-VCT 63kW White Edition,Gasolina,2018,2018 32.320 kmGasolina Vaciamadrid
7,9.390€,8.390€,Ford Ka+ 1.2 Ti-VCT 51kW Ultimate,Gasolina,2018,2018 19.000 kmGasolina Vaciamadrid
8,4.500€,3.490€,SEAT Leon 1.9 TDi 110CV SPORT,Diesel,2003,2003 175.000 kmDiesel Móstoles

In [14]:
print(len(gas), len(KM), len(cleanColumn),len(model),len(priceWithDiscount),len(priceWithoutDiscount))

9 9 9 9 9 9

In [15]:
split_data = df.cleanToSplit.str.split(" ")
data = split_data.to_list()
names = ["Año1","KM","3","Ciudad"]
new_df = pd.DataFrame(data, columns=names)
flexicar = pd.concat([df, new_df], axis=1,)
flexicar = flexicar.drop(["cleanToSplit","Año1","3"], axis=1,)
flexicar

,priceWithoutDiscount,priceWithDiscount,Model,Combustible,Año,KM,Ciudad
0,10.090€,9.390€,Renault Megane Coupé Bose EDC Tce 130,Gasolina,2015,66.250,Vaciamadrid
1,11.490€,9.990€,Smart Forfour 0.9 66kW (90CV) S/S PROXY,Gasolina,2016,26.000,Alicante
2,7.990€,6.990€,Ford Fiesta 1.5 TDCi 75cv Trend 3p,Diesel,2014,37.500,Alicante
3,6.790€,5.990€,Kia Rio 1.2 CVVT 85cv Concept,Gasolina,2013,79.990,Alicante
4,10.990€,9.990€,SEAT Ibiza 1.0 MPI 59kW (80CV) Reference Plus,Gasolina,2019,28.680,Vaciamadrid
5,5.790€,4.990€,Peugeot 207 ACTIVE 1.4i 75,Gasolina,2012,88.380,Vaciamadrid
6,9.790€,8.790€,Ford Ka+ 1.2 Ti-VCT 63kW White Edition,Gasolina,2018,32.320,Vaciamadrid
7,9.390€,8.390€,Ford Ka+ 1.2 Ti-VCT 51kW Ultimate,Gasolina,2018,19.000,Vaciamadrid
8,4.500€,3.490€,SEAT Leon 1.9 TDi 110CV SPORT,Diesel,2003,175.000,Móstoles

In [18]:
def FlexicarScraping(URL):
    #URL='https://www.flexicar.es/coches-segunda-mano/#precio_to/10000/'
    options = webdriver.ChromeOptions()
    options.add_argument("--headless")
    options.add_argument("start-maximized")
    options.add_argument("--disable-infobars")
    driver = webdriver.Chrome(executable_path=r'/usr/bin/chromedriver',options=options) 
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    driver.get(URL)
    precio= autos = driver.find_elements_by_xpath('//*[@id="listadocoches"]')
    cochesBuenos= [e.text for e in precio]
    for e in cochesBuenos:
        ok=e.split("\n")
    droplist=['Previous','Next']
    cleanList=[e for e in ok if e not in droplist]
    priceWithoutDiscount=cleanList[0::5]
    priceWithDiscount=cleanList[1::5]
    model=cleanList[2::5]
    cleanColumn=cleanList[3::5]
    combustible=[item for sublist in combustiblesucio for item in sublist]
    gas=[]
    for e in combustible:
        if e == 'Gasolina':
            gas.append(e)
        elif e == "Diesel":
            gas.append(e)
    df = pd.DataFrame({'priceWithoutDiscount' : priceWithoutDiscount,
                   'priceWithDiscount': priceWithDiscount,
                     'Model' : model,
                     'Combustible': gas,
                     'Año': KM,
                     'cleanToSplit': cleanColumn})
    split_data = df.cleanToSplit.str.split(" ")
    data = split_data.to_list()
    names = ["Año1","KM","3","Ciudad"]
    new_df = pd.DataFrame(data, columns=names)
    flexicar = pd.concat([df, new_df], axis=1,)
    flexicar = flexicar.drop(["cleanToSplit","Año1","3"], axis=1,)
    return flexicar

In [19]:
FlexicarScraping("https://www.flexicar.es/coches-segunda-mano/#precio_to/10000/")

,priceWithoutDiscount,priceWithDiscount,Model,Combustible,Año,KM,Ciudad
0,10.090€,9.390€,Renault Megane Coupé Bose EDC Tce 130,Gasolina,2015,66.250,Vaciamadrid
1,11.490€,9.990€,Smart Forfour 0.9 66kW (90CV) S/S PROXY,Gasolina,2016,26.000,Alicante
2,7.990€,6.990€,Ford Fiesta 1.5 TDCi 75cv Trend 3p,Diesel,2014,37.500,Alicante
3,6.790€,5.990€,Kia Rio 1.2 CVVT 85cv Concept,Gasolina,2013,79.990,Alicante
4,10.990€,9.990€,SEAT Ibiza 1.0 MPI 59kW (80CV) Reference Plus,Gasolina,2019,28.680,Vaciamadrid
5,5.790€,4.990€,Peugeot 207 ACTIVE 1.4i 75,Gasolina,2012,88.380,Vaciamadrid
6,9.790€,8.790€,Ford Ka+ 1.2 Ti-VCT 63kW White Edition,Gasolina,2018,32.320,Vaciamadrid
7,9.390€,8.390€,Ford Ka+ 1.2 Ti-VCT 51kW Ultimate,Gasolina,2018,19.000,Vaciamadrid
8,4.500€,3.490€,SEAT Leon 1.9 TDi 110CV SPORT,Diesel,2003,175.000,Móstoles